/*	HTML – Style the entire web page itself before moving to other elements on the page*/
html {
	background: #225772;
	font-family: 'MuseoModerno', 'Raleway', cursive, sans-serif;
	font-size: 12px;
}

/*	MAIN AREA – contains header and paragraph */
#main {
	background: #A2A2A2;
	margin: 20px 10px;
	padding: 45px;
	border-radius: 15px;
}

#title {
	text-align: center;
	font-family: 'MuseoModerno', cursive;
	font-size: 44pt;
	color: #000018;
}

#main-paragraph {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-style: oblique;
	font-size: 26pt;
	color: #204091;
}

/*	IMAGE OF RAINN WILSON	*/
.responsive {
	max-width: 100%;
	height: auto;
}