/* –––––	|| GLOBAL STYLES ||	–––––	*/
/* 
#000018	Xiketic
#ab7b4c	Cafe au Lait
#a2a2a2 Quick Silver
#225772	Blue Sapphire
#204091	Dark Cornflower Blue
https://coolors.co/000018-ab7b4c-a2a2a2-225772-204091 */

/*	HTML – Style the entire web page itself before moving to other elements on the page*/
html {
	background: #a2a2a2;
	font-family: 'MuseoModerno', 'Raleway', cursive, sans-serif;
	font-size: 13px;
}

/*	MAIN AREA – contains header and styled paragraph tag	*/
#main {
	background: #204091;
	margin: 30px 3px;
	padding: 5px;
	border-radius: 5px;
}

#title {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 5em;
	color: #ab7b4c;
}

#main-paragraph {
	text-align: center;
	font-family: 'MuseoModerno', cursive;
	font-style: oblique;
	font-size: 2em;
	color: #a2a2a2;
}

/*	ARTICLE	*/
/*	IMAGE CONTAINER	*/
#img-div {
	color: #a2a2a2;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	display: block;
  	margin: auto;
	padding: 1px 30px 20px;
	background: #225772;
	border-radius: 3px;
}

.responsive {
	max-width: 100%;
	height: auto;
	padding: 15px 0;
}

/*	SECTION – TRIBUTE INFORMATION	*/
#tribute-info {
	display: block;
	margin: auto;
	width: 50%;
	padding: 10px;
}

#tribute-info h3 {
	font-family: 'MuseoModerno', cursive;
	font-style: oblique;
	font-size: 3em;
	text-align: center;
	color: #ab7b4c;
	margin: auto;
}

#jims-quote {
	font-size: 2em;
}

#tribute-info p {
	color: #F7F785;
	font-family: 'Raleway', sans-serif;
}

#tribute-info ol li {
	color: #EBE4B9;
	font-family: 'Raleway', sans-serif;
}

#book {
	color: #FDFDF8;
}

/*	SECTION – WIKI INFORMATION	*/
#imdb-ref h4 {
	color: #ab7b4c;
	text-align: center;
}

a {
	color: #F7F785;
}

/*	FOOTER 	*/
footer {
	display: block;
	margin: auto;
	text-align: center;
	color: #EBE4B9;
	font-family: 'Raleway', sans-serif;
}




